@model IEnumerable<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h3>Referanslar</h3>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Yorum</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {

        count++;
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.Comment</td>
            <td>
                <a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-primary btn-sm">Düzenle</a>
                <a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger btn-sm">Sil</a>
            </td>
        </tr>
    }
</table>

<a href="/Testimonial/CreateTestimonial" class="btn btn-success">Yeni Referans Ekle</a>
