@model IEnumerable<ResultVideoDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h3>Videolar</h3>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Video Url</th>
        <th>Video Kapak Resmi</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {

        count++;
        <tr>
            <td>@count</td>
            <td>@item.Url</td>
            <td>@item.BackgroundImageUrl</td>
            <td>
                <a href="/Video/UpdateVideo/@item.VideoId" class="btn btn-primary btn-sm">Düzenle</a>
                <a href="/Video/DeleteVideo/@item.VideoId" class="btn btn-danger btn-sm">Sil</a>
            </td>
        </tr>
    }
</table>

<a href="/Video/CreateVideo" class="btn btn-success">Yeni Video Ekle</a>

