@model UpdateVideoDto
@{
    ViewData["Title"] = "UpdateVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Video Güncelle</h3>

<form method="post" class="form-group">
    <input type="hidden" asp-for="VideoId"/>
    <label>Video Url</label>
    <input type="text" asp-for="Url" class="form-control" />
    <br />
    <label>Kapak Resmi</label>
    <input type="text" asp-for="BackgroundImageUrl" class="form-control" />
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>
